<%= simple_form_for user do |f| %>
  <% if user.admin %>
    <div class="form-check d-flex align-items-center">
      <input name="user[api_access]" type="hidden" value="0">
      <input class="form-check-input is-valid boolean optional checkbox" type="checkbox" value="1" <%= "checked='checked'" if user.api_access %> name="user[api_access]" id="user_api_access">
      <label class="form-check-label boolean optional checkbox-label" for="user_api_access"></label> <span class="ml-1"> Api access </span>
    </div>
    <div class="form-check d-flex align-items-center">
      <input name="user[active_search]" type="hidden" value="0">
      <input class="form-check-input is-valid boolean optional checkbox" type="checkbox" value="1" <%= "checked='checked'" if user.active_search %> name="user[active_search]" id="user_active_search">
      <label class="form-check-label boolean optional checkbox-label" for="user_active_search"></label> <span class="ml-1"> Active search </span>
    </div>
  <% end %>
  <%= f.input :github_username %>
  <%= f.input :email %>

  <%= f.submit %>
<% end %>
