<%= simple_form_for user do |f| %>
  <% if user.admin %>
    <div class="form-check d-flex align-items-center">
      <input name="user[api_access]" type="hidden" value="0">
      <input class="form-check-input is-valid boolean optional checkbox" type="checkbox" value="1" <%= "checked='checked'" if user.api_access %> name="user[api_access]" id="user_api_access">
      <label class="form-check-label boolean optional checkbox-label" for="user_api_access"></label> <span class="ml-1"> Api access </span>
    </div>
    <div class="form-check d-flex align-items-center">
      <input name="user[active_search]" type="hidden" value="0">
      <input class="form-check-input is-valid boolean optional checkbox" type="checkbox" value="1" <%= "checked='checked'" if user.active_search %> name="user[active_search]" id="user_active_search">
      <label class="form-check-label boolean optional checkbox-label" for="user_active_search"></label> <span class="ml-1"> Active search </span>
    </div>
  <% end %>
  <div class="form-group string optional user_github_username form-group-valid d-flex align-items-center">
    <input class="form-control is-valid string optional custom-input" type="text" value="<%= user.github_username %>" name="user[github_username]" id="user_github_username">
    <label class="form-control-label string optional m-0" for="user_github_username">Github username</label>
  </div>
  <div class="form-group email optional user_email form-group-valid d-flex align-items-center">
    <input class="form-control is-valid string email optional custom-input" type="email" value="<%= user.email %>" name="user[email]" id="user_email" disabled>
    <label class="form-control-label email optional m-0" for="user_email">Email</label>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
