<div class="job-card-content">
  <%= link_to "https://#{job.job_website + job.link}", target: "_blank" do %>
    <div class="job-title">
      <p class="name"><b><%= job.title.truncate(job.title_length) %></b></p>
    </div>
    <div class="job-info">
      <% unless job.salary == "unspecified" %>
        <p><%= job.salary %></p>
      <% end %>
      <p><%= job.company %></p>
      <% if job.quality > 3 %>
        <p><%= job.description.truncate(250) %></p>
      <% end %>
    </div>
  <% end %>
</div>
