<div class="jobs-show-container">
  <% if @jobs.any? %>
    <div class="jobs-result">
      <div class="jobs-result-summary" style="
      height: 120px;
      background: rgba(242, 242, 242, 1);
      border: 2px solid rgba(242, 242, 242, 1);
      border-color: hsla(0, 0%, 0%, 0.2);
      border-radius: 5px;
      width: 1120px;
      padding: 10px;">
        We found a total of <b><%= pluralize(@jobs.count, "Job") %></b> for you!
        <br>
        <% if @search.avg_salary[:count] && @search.avg_salary[:avg] %>
          The average fulltime salary for this search is <b>£<%= @search.avg_salary[:avg] %></b>! (counted <%= @search.avg_salary[:count] %>)
        <% end %>
      </div>
    </div>
    <div class="jobs-result">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 160 }'
      data-isotope='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
        <% @jobs.each do |job| %>
          <%= render "searches/grid_item",
          job: job,
          width: job.width,
          height: job.height %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="jobs-result-summary">
      We couldnt find any Jobs for you this time!
      <%= link_to "click here to search again!", root_path %>
    </div>
  <% end %>
</div>
